body{
    margin: 0;
}

#about{
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

#about-jumbo{
    padding: 17px;
    padding-bottom: 25px;
    background-color: #a55;
    color: white;
    font-family: 'Lora', serif;
    overflow: hidden;
    box-shadow:         3px 3px 15px 15px #ccc;
    width: 98%;   
}

#about-sub{
    margin-left: 1%;
    padding: 1%;
    width: 31.5%;
    float:left;
    border-right: solid white 1px;
    border-left: solid white 1px;
}

#about-sub h4{
    font-size: 27px;
}

#about-sub p{
     font-size: 20px;   
}

#about-sub-learn{
    background-color: white;
    color: #a55;
    font-weight: 400;
    font-size: 19px;
    height: 40px;
    width: 90%;
    max-width: 200px;
    border-style: none;
    border-style: solid;
    border-color: #777;
    border-width: 1px;
}

.last-sub{
    border-style: none;
}

#signup {
    width: 100%;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
    
}

#signup-jumbo{
    box-shadow:         3px 3px 15px 15px #ccc;
    width: 98%;
    max-width: 850px;
    background-color:#C26727;
    color:white;
    font-family: 'Lora', serif;
    text-align: center;
}

#signup-jumbo legend{
    color:white;
    font-size: 50px;
    
}

#interest{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 17px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #777;
    border-width: 1px;
}

#interest-drop li{
    text-align: center;
    font-size: 17px;
    width: 100%;
    margin-top: 10px;
}

#interest-drop{
    width: 100%;   
}

#lastDiv{
    width: 47%;
    float: right;
}

#firstDiv{
    width: 47%; 
    float: left;
}

#signupForm label{
    font-size: 25px;
}
#signupForm input{
    border-style: solid;
    border-color: #777;
    border-width: 1px;
    margin-bottom: 15px;
    font-size: 19px;
    text-align: center;
}
#signupForm button{
    background-color: white;
    color:black;
    font-size: 22px;
    width: 100%;
    max-width: 500px;
    height:40px;
    border-style: solid;
    border-color: #777;
    border-width: 1px;
}

@media (max-width: 767px) {
    
    #about-descript{
        padding-bottom: 10px;
        border-bottom: solid white 1px;   
    }
    
    #about-sub{
        clear: both;  
        width: 100%;
        border-style: none;
        padding-bottom: 10px;
        border-bottom: solid white 1px;
    }
    
    #signup{
        margin-top: 10px;   
    }
    
    #signup-jumbo{
        box-shadow:none; 
    }
    
    #signup-jumbo legend{
        font-size: 35px;   
    }
    
}