body{
    margin: 0;
}

#about{
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

#about-jumbo{
    padding: 17px;
    padding-bottom: 25px;
    background-color: #D96459;
    color: white;
    font-family: 'Lora', serif;
    overflow: hidden;
    box-shadow:         3px 3px 15px 15px #ccc;
    width: 98%;
    max-width: 1200px;
}

#about-sub{
    margin-left: 1%;
    padding: 1%;
    width: 31.5%;
    float:left;
    border-top: dashed white 1px;
    border-right: solid white 1px;
    border-left: solid white 1px;
}

#about-sub h4{
    font-size: 27px;
}

#about-sub p{
     font-size: 20px;   
}

#about-sub-learn{
    background-color: white;
    color: #833;
    font-weight: 400;
    font-size: 19px;
    height: 40px;
    width: 90%;
    max-width: 200px;
    border-style: none;
    border-style: solid;
    border-color: #777;
    border-width: 1px;
}


#cohort{
    width: 100%;
    padding: 0;
    margin-top: 9px;
}

#cohort-jumbo{
    padding: 17px;
    padding-bottom: 25px;
    background-color: #464263;
    color: white;
    font-family: 'Lora', serif;
    overflow: hidden;
    box-shadow:         3px 3px 15px 15px #ccc;
    width: 98%;   
    max-width: 1200px;
}

#inventor{
    width: 100%;
    padding: 0;
    margin-top: 9px;
}

#inventor-jumbo{
    padding: 17px;
    padding-bottom: 25px;
    background-color: #31B288;
    color: white;
    font-family: 'Lora', serif;
    overflow: hidden;
    box-shadow:         3px 3px 15px 15px #ccc;
    width: 98%;   
    max-width: 1200px;
}

#event{
    width: 100%;
    padding: 0;
    margin-top: 9px;
}

#event-jumbo{
    padding: 17px;
    padding-bottom: 25px;
    background-color: #59323C;
    color: white;
    font-family: 'Lora', serif;
    overflow: hidden;
    box-shadow:         3px 3px 15px 15px #ccc;
    width: 98%; 
    max-width: 1200px;
}

#event-descript{
    padding: 15px;
    padding-bottom: 25px;
    margin-bottom: inherit;
}



#event-button{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    border-style: solid;
    border-color: #666;
    border-width: 1px;
    font-size: 18px;
    background-color: white;
    color: #4F3628; 
    font-weight: 525;
}

#signup {
    width: 98%;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
    
}

#signup-jumbo{
    box-shadow:         3px 3px 15px 15px #ccc;
    width: 100%;
    max-width: 850px;
    background-color:#E3670B;
    color:white;
    font-family: 'Lora', serif;
    text-align: center;
}

#signup-jumbo legend{
    color:white;
    font-size: 50px;
    
}

#interest{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 17px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #777;
    border-width: 1px;
}

#interest-drop li{
    text-align: center;
    font-size: 17px;
    width: 100%;
    margin-top: 10px;
}

#interest-drop{
    width: 100%; 
}

#lastDiv{
    width: 47%;
    float: right;
}

#firstDiv{
    width: 47%; 
    float: left;
}

#signupForm label{
    font-size: 25px;
}
#signupForm input{
    border-style: solid;
    border-color: #777;
    border-width: 1px;
    margin-bottom: 15px;
    font-size: 19px;
    text-align: center;
}
#signupForm button{
    background-color: white;
    color:black;
    font-size: 22px;
    width: 100%;
    max-width: 500px;
    height:40px;
    border-style: solid;
    border-color: #777;
    border-width: 1px;
}

@media (max-width: 767px) {
    
    #about-descript{
        padding-bottom: 10px;
        border-bottom: solid white 1px;   
    }
    
    #about-sub{
        clear: both;  
        width: 100%;
        border-style: none;
        padding-bottom: 10px;
        border-bottom: solid white 1px;
    }
    
    #signup{
        margin-top: 7px;   
    }
    
    #signup-jumbo legend{
        font-size: 35px;   
    }
    
}