body{
    margin: 0;
    padding: 0;
}

#login{
    margin-top: 15px;   
}

#login-jumbo{
    background-color: #3A4A42;
    max-width: 700px;
    padding-bottom: 23px;
}

#login-jumbo h1{
    color: white;
    font-weight: 400;
    
}

#result{
    font-size: 20px; 
    color: white;
}

#jumbo-body{
    padding-left: 5%;
    padding-right: 5%;
}

#login-jumbo label{
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

#login-jumbo input{
    width: 100%;
    border-style: solid;
    border-color: #777;
    border-width: 1px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-inline{
    margin-left: 0;   
}

#remember{
    position: relative;
    width:25px;
    white-space: nowrap;
    color: white;
    font-size: 18px;
}

#rememberBox{
    position:absolute;top:5px; right:0;   
}

#reset{
    margin-top: 5px;
    font-size: 18px;  
    color: #B9E5FF;
}

#loginButton{
    background-color: white;
    font-size: 20px;
    margin-top: 15px;
    border-style: solid;
    border-color: #777;
    border-width: 1px;
    width: 100%;
    height: 50px;
}


@media (max-width: 767px) {
    
    #login-jumbo h1{
        font-size: 55px;   
    }
    
    
}




