body{
    background-color: white;
}


#nav{
    border-radius: 0;
    border-color: white;
    padding: 0;
    margin: 5px;
    box-shadow:         3px 3px 7px 7px #ccc;
}


#brand{
    
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-right: 5px;
}

#brand:hover{
    background-color:#A2A384;
}

#search{
    border-style: solid;
    border-color: #777;
    border-width: 1px;
    width:300px;
    padding: 0;
    padding-left: 15px;
    margin: 0;
    margin-top: 8px;
    border-radius: 5px;
    font-size: 17px;
}

#search-drop{
    width: 100%;
    background-color: white;
    color: #5A6A62;
    font-size: 17px;
}

#search-button{
    border-style: solid;
    border-color: #777;
    border-width: 1px;
    margin-top: 8px;
    margin-left: 5px;
    width:63px;
}

.glyphicon-search{
    color: #A2A384;   
}

#right-nav li{
    font-size: 24px;
    font-family: 'Lora', serif;
    margin:0;
}

.navbar-default {
  background-color: #5A6A62;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
 background-color: #A2A384;
 margin: 0;
 margin-right: 3px;
 
 font-size: 17px;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #A2A384;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #A2A384;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #5A6A62;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #A2A384;
  border-style: none;
}
.navbar-default .navbar-toggle {
  border-style: none;
    margin: 2px;
    padding: 17px;
    border-radius: 25px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #A2A384;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}


@media (max-width: 767px) {
  
  #nav{
        margin:1%;
        box-shadow: 3px 3px 7px 7px #ccc;   
  }
    
  #verify{
    margin-left: 0;   
  }
    
  #search{
      margin-left: 1%;
      margin-right: 1%;
      width: 98%;
      text-align: center;
      height: 40px;
      padding-left: 0;
      
  }
  #search-drop{
    display: none;
  }
    
    
  #search-button{
        margin-left: 1%;
      margin-right: 1%;
      width: 98%; 
        height:40px;
  }
    
  #right-nav li{
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      background-color: #A2A384;
      padding:0;
      margin-top: 10px;
      margin-left: 1%;
      margin-right: 1%;
      width: 98%; 
  }
    
  #right-nav li li{
      margin-top: 17px;
      font-size: 20px;
      height: 35px;
      
  }
    
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      color: #ffffff;
      background-color: #828364;
      border-bottom: dashed #5A6A62 4px;
  }
    
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color:#006e79;
  }
}